<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="baeedf">  <td>20/09/18 02:16:11</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Base.initializeDriver(java.lang.String)[pri:0, instance:com.neto.test.LoginOriginator@66480dd7]">&gt;&gt;initializeDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@503195940</td>   <td></td> </tr>
<tr bgcolor="a3ffec">  <td>20/09/18 02:16:28</td>   <td>16908</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginOriginator.LoginMLO()[pri:0, instance:com.neto.test.LoginOriginator@66480dd7]">LoginMLO</td> 
  <td>main@503195940</td>   <td></td> </tr>
</table>
